.leaflet-control-lyrSwiper {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 5px;
}
a.leaflet-control-lyrSwiper-toggle {
	margin: auto;
    width: 36px;
    height: 36px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display:inline-block;
    line-height: 36px !important;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color:#000;
    font-size:1em;
}

.leaflet-control-lyrSwipeBarContainer-v{
	opacity:1; 
	height:100%; 
	width:8px;
}

.leaflet-control-lyrSwipeBarContainer-v img{
	position: relative; 
	cursor: pointer; 
	top: 45%; 
	right: 2px;
	width:8px;
}

.leaflet-control-lyrSwipeBarContainer-v > div{
	opacity:1;
	width:3px;
	height: 100%;
	background: rgb(136, 136, 136) none repeat scroll 0% 0%; 
	position: relative; 
	left:0px; 
	right:0px	
}

.leaflet-control-lyrSwipeBarContainer-v > div div{
	position: relative; 
	cursor: pointer; 
	top: 47.5%; 
	right: 2px;
	width:8px;
	height:5%;
	background: rgb(136, 136, 136) none repeat scroll 0% 0%; 
}

.leaflet-control-lyrSwipeBarContainer-h{
	opacity:1; 
	width:100%; 
	height:8px;
}

.leaflet-control-lyrSwipeBarContainer-h img{
	position: relative; 
	cursor: pointer; 
	left: 45%; 
	top: 2px;
	height:8px;
}

.leaflet-control-lyrSwipeBarContainer-h > div{
	opacity:1;
	height:3px;
	width: 100%;
	background: rgb(136, 136, 136) none repeat scroll 0% 0%; 
	position: relative; 
	top:0px; 
	right:0px	
}

.leaflet-control-lyrSwipeBarContainer-h > div div{
	position: relative; 
	cursor: pointer; 
	left: 47.5%;
	width: 5%;
	height:8px;
	background: rgb(136, 136, 136) none repeat scroll 0% 0%; 
}

.leaflet-control-lyrSwipeBarContainer-n{
	display:none;
}

.leaflet-control-lyrSwipeBarContainer-n img{
	display:none;
}

.leaflet-control-lyrSwipeBarContainer-n > div{
	display:none;
}

.leaflet-control-lyrSwipeBarContainer-n > div div{
	display:none;
}